@model ProductionApp.UserInterface.Models.ProductionTrackingViewModel

@{
    ViewBag.Title = "NewProductionTracking";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>NewProductionTracking</h2>

