@using ProductionApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Index", "Home")><i class="fa fa-home"></i> Home</a></li>
        <li>Accounts</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<div class="col-md-12">&nbsp;</div>

<div class="col-md-6">  
    <div class="col-md-12" style="height:600px;width:100%;">

        @{
            @Html.Action("RecentCustomerInvoice", "DashboardAccount");
        }
    </div>  
</div>

<div class="col-md-6">
    <div class="col-md-12" style="height:600px;width:100%;">

        @{
            @Html.Action("RecentCustomerPayment", "DashboardAccount");
        }
    </div>
</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")