@model ProductionApp.UserInterface.Models.SupplierViewModel
<div class="input-group">
    @Html.DropDownList("SupplierID", Model.SelectList, "---Select Supplier---", new { @class = "form-control", @style = "width:100%" })
    <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddSupplierMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>
</div>
