@using ProductionApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Index", "Home")><i class="fa fa-home"></i> Home</a></li>
        <li>Purchase</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
    <div class="col-md-6" style="height:600px">
        <div class="col-md-12" style="width:100%;">
            @{
                @Html.Action("RecentRequisition", "DashboardPurchase");
            }
        </div>
    </div>

    <div class="col-md-6" style="height:600px">
        <div class="col-md-12" style="width:100%;">
            @{
                @Html.Action("RecentPurchaseOrder", "DashboardPurchase");
            }
        </div>
    </div>
</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")


