
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Are you looking for a DashBoard....</h2>
        <h3>We are working on it....</h3>
    </div>
</body>
</html>
