@using ProductionApp.UserInterface.App_Start
@model ProductionApp.UserInterface.Models.BOMComponentLineViewModel

<ol id="selectable" class="selectable">
    @{
        for (int i = 0; i < Model.StageList.Count; i++)
        {
            <li value="@Model.StageList[i].ID.ToString()" class="ui-widget-content">@Model.StageList[i].Description</li>
        }
    }
</ol>

<script>
    debugger;
    $("#selectable").selectable();
    $(document).ready(function () {
        debugger;
        if (_IsInput) {
            ResetListAllStage();
            _IsInput = false;
        }
    });
</script>