@model ProductionApp.UserInterface.Models.BillOfMaterialAdvanceSearchViewModel

@{
    ViewBag.Title = "ViewBillOfMaterial";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>ViewBillOfMaterial</h2>

