@model ProductionApp.UserInterface.Models.BillOfMaterialViewModel

<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Recent BOMs</h3>
        </div>

        <div class="with-border bg-green" style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display:table;width:100%; ">
                        <tr>
                            <th>Product</th>
                            <th >Description</th>                            
                        </tr>
                    </thead>
                    <tbody style="height:400px;max-height:500px;overflow-y:scroll;display:block;width:100%;">
                        @if (Model.BillOfMaterialList != null)
                        {
                            for (int i = 0; i < Model.BillOfMaterialList.Count; i++)
                            {
                                <tr>
                                    <td><a href="/BillOfMaterial/NewBillOfMaterial?code=PROD&id=@Model.BillOfMaterialList[i].ID">@Model.BillOfMaterialList[i].Product.Name</a></td>
                                    <td  >@Model.BillOfMaterialList[i].Description</td>                                                               
                                </tr>
                            }

                            for (int i = (Model.BillOfMaterialList == null ? 0 : Model.BillOfMaterialList.Count); i < 10; i++)
                            {
                                <tr>
                                    <td>-</td>                                   
                                    <td style="width:10%;">-</td>                                                                        
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 10; i++)
                            {
                                <tr>                                    
                                    <td>-</td>
                                    <td style="width:10%;">-</td>                                   
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="box-footer clearfix">

        <a href="@Model.BaseURL" class="label bg-green">View All</a>


    </div>


</div>