@model ProductionApp.UserInterface.Models.AssemblyViewModel

<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Recent Assembly</h3>
        </div>

        <div class="with-border bg-green" style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display:table;width:100%; ">
                        <tr>
                            <th>Entry No.</th>
                            <th>Date</th>                            
                            <th>Ass.By</th>                            
                        </tr>
                    </thead>
                    <tbody style="height:430px;max-height:500px;overflow-y:scroll;display:block;width:100%;">
                        @if (Model.AssemblyList != null)
                        {
                            for (int i = 0; i < Model.AssemblyList.Count; i++)
                            {
                                <tr>
                                    <td><a href="/Assembly/NewAssembly?code=PROD&id=@Model.AssemblyList[i].ID">@Model.AssemblyList[i].EntryNo</a></td>
                                    <td>@Model.AssemblyList[i].AssemblyDateFormatted</td>                                    
                                    <td style="width:25%;">@Model.AssemblyList[i].Employee.Name</td>                                    
                                </tr>
                            }

                            for (int i = (Model.AssemblyList == null ? 0 : Model.AssemblyList.Count); i < 10; i++)
                            {
                                <tr>                                                               
                                    <td>-</td>
                                    <td>-</td>
                                    <td style="width:25%;">-</td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 10; i++)
                            {
                                <tr>                                                                 
                                    <td>-</td>
                                    <td>-</td>
                                    <td style="width:25%;">-</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="box-footer clearfix">

        <a href="@Model.BaseURL" class="label bg-green">View All</a>


    </div>


</div>