@using ProductionApp.UserInterface.Models;
@{
    List<ProductionApp.UserInterface.Models.SysModuleViewModel> sysModuleList = Model.SysModuleVMObj.SysModuleList;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageGod.cshtml";
}
<div class="row" style="margin-top:2%">
    @{
        if (Model != null)
        {
            foreach (SysModuleViewModel sysModuleLst in sysModuleList)
            {
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>⚝</h3>
                            <p>@sysModuleLst.Name</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="@Url.Action("Index",sysModuleLst.Name+"Dashboard",sysModuleLst)" class="small-box-footer">Dashboard <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                   
            }

        }

    }
    </div>
