
@model ProductionApp.UserInterface.Models.EmployeeViewModel

@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ReturnBy", Model.SelectList, "--Select Employee--", new { @class = "form-control", @required = "", @title = "Return By is missing", @style = "width:100%", @onchange = "$('#hdnAssembleBy').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddEmployeeMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>
    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("ReturnBy", Model.SelectList, "--Select Employee--", new { @class = "form-control", @style = "width:100%", @onchange = "$('#hdnAssembleBy').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddEmployeeMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>
    </div>
}
@Html.ValidationMessage("AssembleBy", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        debugger;
        $("#ReturnBy").select2({
        });
        $('#ReturnBy').val($('#hdnAssembleBy').val()).select2();
    });
</script>

