
@{
    ViewBag.Title = "ApproveDocument";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i> DocumentApproval</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<h2>ApproveDocument</h2>

