@model ProductionApp.UserInterface.Models.SubComponentViewModel

@Html.DropDownListFor(model => model.SubComponentID, Model.SelectList, "---Select SubComponent---", new { @class = "form-control", @style = "width:100%" })
<span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddSubComponentMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>

<script>
    $(document).ready(function () {
        $('#SubComponentID').select2({});
        $('#SubComponentID').val($('#hdnSubComponentID').val()).select2();
    })
</script>