@model ProductionApp.UserInterface.Models.MaterialIssueViewModel

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Issue Summary</h3>
        </div>

        <div class="with-border bg-aqua " style="height:2px!important"></div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead style="display:table;width:100%;table-layout:fixed;">
                        <tr>
                            <th>Issue No.</th>
                            <th>Issued To</th>
                            <th>Issued By</th>
                            <th>Issue Date</th>
                        </tr>
                    </thead>
                    <tbody style="height:150px;max-height:500px;overflow-y:scroll;display:block;width:100%;">
                        @if (Model.MaterialIssueList != null)
                        {
                            for (int i = 0; i < Model.MaterialIssueList.Count; i++)
                            {
                                <tr>
                                    <th><a href="IssueToProduction/AddIssueToProduction?code=STR&id=@Model.MaterialIssueList[i].ID">@Model.MaterialIssueList[i].IssueNo</a></th>
                                    <td>@Model.MaterialIssueList[i].IssueToEmployeeName</td>
                                    <td>@Model.MaterialIssueList[i].IssuedByEmployeeName</td>
                                    <td><span class="label label-info bg-aqua ">@Model.MaterialIssueList[i].IssueDateFormatted</span></td>
                                </tr>
                            }

                            for (int i = (Model.MaterialIssueList == null ? 0 : Model.MaterialIssueList.Count); i < 5; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info bg-aqua ">-</span></td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <th>-</th>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><span class="label label-info bg-aqua ">-</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>