@using ProductionApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li>Store</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div> 

<h2>Index</h2>
<div class="col-md-12">
    <div class="col-md-4">
        <div>
            @{
                @Html.Action("IssueSummary", "DashboardStore");
            }
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12" style="background-color:aqua">
            @{ 
                @*Html.Action("MyApprovals", "DashboardStore");*@
            }
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-4">
        @{ 
            @*Html.Action("RecentMRNLink", "DashboardStore");*@
        }
        <div class="col-md-12" style="background-color:orangered">
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
    <div class="col-md-4">
        @{ 
            @*Html.Action("ReOrderAlert", "DashboardStore");*@
        }
        <div class="col-md-12" style="background-color:mediumvioletred">
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")
